*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family:"Poppins", sans-serif;
}

:root{
    --grey: #171819;
    --dark-grey: #222;
    --cream: #eee;
    --white: #fff;
    --orange: #f13a11;
    --Monotype-Corsiva: 'Monotype Corsiva';
    --poppins: 'Poppins';
}

body{
    background-color: #eee;
}

/* ------------------Navigation Bar---------- */
nav{
    width: 100%;
    background-color: var(--dark-grey);
    text-align: center;
}
.logo{
    height: 6rem;
}

ul{
    width: 100%;    
    display: flex;
    flex-direction: row;
}

ul li{
    width: 25%;
    text-transform: uppercase;
    text-align: center;
}

ul li a {
    font-size: 1.4rem;
    font-weight: 100;
    color: var(--cream);
    display: block;
    padding: 1rem;
}

ul li a:hover{
    color: var(--orange);
}

/* ------------------bg image------------------ */
.overlay{
    width: 100%;
    height: auto;
    text-align: center;
    background-image: url('images/ipad-tablet-technology-touch.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.heading-text-container{
    width: 100%;
    padding-top: 2rem;
    height: auto;
    text-align: center;
    background-color: var(--dark-grey);
    opacity: 0.9;
}

.heading-text-container h2{
    
    color: #fff ;
    font-family: 'OldeEnglish';
    font-size: 6rem;
    font-weight: 400;
    line-height: 6rem;
}

.heading-text-container p{
    color: #7f8c8d ;
    font-size: 2rem;
    font-family: var(--Monotype-Corsiva);
    line-height: 2.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;    
}

/* ------------------container common------------------ */
.container{
    height: calc(60% - 4rem);
    width: calc(100% - 2rem);
    padding: 1rem 1rem 0;
    overflow: hidden;
}

/* ------------------Title common------------------ */
.title{
    position: relative;
    width: max-content;
    font-family: sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--grey);
    line-height: 5rem;
}

.title::after{
    content: "";
    position: absolute;
    height: 4px;
    width: 80%;
    background: #000;
    left: 1rem;
    bottom: 0; 
}

/* ------------------About Us------------------ */
.about .content{
    text-align: justify;
    text-justify: inter-word;
    padding-top: 2rem;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}

/* ------------------Upcoming Events------------------ */
.events-upcoming{
    width: 100%;
    max-height: 30rem;
    padding-top: 4rem;
    overflow-x: auto;
    overflow-y: hidden;
}

.row{
    height: 100%;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

  .card {
    max-width: 300px;
    padding: .75rem;
    border: 0;
    
    flex-basis: 45rem;
    flex-grow: 0;
    flex-shrink: 0;
}

.card > img{
    max-width: 100%;
    border-radius: 1rem;
}

.card h5{
    padding: 4rem 0rem 2.8rem;
    font-family:sans-serif;
    font-size: 4rem;
    font-weight: 500;
    color: var(--white);
    text-shadow: var(--dark-grey);
}

/* ------------------ Button - learn more ------------------ */
.button-container{
    padding-left: 3rem;
}
.button{
    position: relative;
    line-height: 3rem;
    padding: 1rem;
    font-family:var(--poppins);
    font-size: 2rem;
    color:var(--orange);
    background-color: transparent;  
    border-radius: 0.6rem;
    border: 2px solid #ff5733;
}

/* ------------------ Our Team ------------------ */
.our-team{
    width: 100%;
    height: 25rem;
    margin: 4rem 1rem;
    overflow-x: auto;
    overflow-y: hidden;
}

.our-team .row .card{
    flex-basis: 15rem;
    display: block;
    text-align: center;    
    font-family: sans-serif;
    color: var(--dark-grey);
    text-shadow: var(--white);
}

.our-team .row .card > img{
    height: 15rem;
}

.our-team .card h5{
    padding: 0.3rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--dark-grey);
}

.our-team .card h6{
    font-size: 1.8rem;
    font-weight: 500;
}

/* ------------------ Footer ------------------ */
footer {
    width: 100%;
    padding: 1.5rem 0;
    margin-top: auto;
    background-color: #000;
    color: #fff;
    font-size:30px;
    font-weight:bold;
}

.social-media{
    padding-left: 1rem;
} 

.social-media > img{
    width: 3rem;
    border-radius: 1.5rem;
}

/* styles for browsers larger than 600px; */
@media only screen and (min-width: 390px){
    
    .card:hover{
        transform: scale(1.05);
    }
}

@media only screen and (max-width: 600px) {
    
    nav{
        height: 6rem;
    }
    ul{
        visibility: hidden;
    }

}

/* ------------------ Fonts ------------------ */
@font-face {
	font-family: 'OldeEnglish';
	src:url('fonts/OldeEnglish.woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Monotype Corsiva';
	src:url('fonts/MonotypeCorsiva_Regular.ttf');
	font-weight: normal;
	font-style: normal;
}