*{
    margin: 0;
    padding: 0;    
    width: 100%;
    text-decoration: none;
    list-style: none;
    font-family:"Poppins", sans-serif;
}

:root{
    --grey: #171819;
    --dark-grey: #222;
    --cream: #eee;
    --white: #fff;
    --orange: #f13a11;
    --Monotype-Corsiva: 'Monotype Corsiva';
    --poppins: 'Poppins';

    --nav_block_padding: 1rem; /*HOME...*/
    --no_of_nav_block_elements: 5;
    --heading_padding: 1.8rem; /* a century of... */
    --heading_font_size: 4rem; /*Intitution...*/
    --container_padding: 2rem;
    --button_font_size: 1.4rem;
    --footer_padding: 1.5rem;
}

body{
    background-color: #eee;
}

/* ------------------Navigation Bar---------- */
nav{
    height: 6rem;
    background-color: var(--dark-grey);
    text-align: center;
}
.logo{
    height: 6rem;
    width: auto;
}

ul{
    visibility: hidden;
    display: flex;
    flex-direction: row;
    padding: var(--nav_block_padding) 0;
}

ul li{
    text-transform: uppercase;
    text-align: center;
}

ul li a {
    font-size: 1.4rem;
    font-weight: 100;
    color: var(--cream);
}

ul li a:hover{
    color: var(--orange);
}

/* ------------------bg image------------------ */
.overlay{
    height: auto;
    text-align: center;
    background-image: url('images/ipad-tablet-technology-touch.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.heading-text-container{
    width: clac(100% - (2 * var(--heading_padding)));
    word-wrap: break-word;
    background-color: var(--dark-grey);
    opacity: 0.9;
    padding: var(--heading_padding);
}

.heading-text-container h2{    
    word-wrap: break-word;
    color: #fff ;
    font-family: 'OldeEnglish';
    font-size: var(--heading_font_size);
    line-height: calc(var(--heading_font_size) + 0.5);
    font-weight: 400;
    
}

.heading-text-container p{
    word-wrap: break-word;
    color: #7f8c8d ;
    font-size: calc(var(--heading_font_size)/2);
    font-family: var(--Monotype-Corsiva);
    line-height: calc((var(--heading_font_size)/2) + 0.2);
    padding: 1rem 0;   
}

/* ------------------container common------------------ */
.container{
    width: calc(100% - (2 * var(--container_padding)));
    padding: var(--container_padding);    
}

/* ------------------Title common------------------ */
.title{
    position: relative;
    width: max-content;
    font-family: sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--grey);
    line-height: 5rem;
}

.title::after{
    content: "";
    position: absolute;
    height: 4px;
    width: 80%;
    background: #000;
    left: 1rem;
    bottom: 0; 
}

/* ------------------About Us------------------ */
.about .content{
    text-align: justify;
    padding-top: 2rem;
    font-family: sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
}

/* ------------------Our Events------------------ */
.events-upcoming{
    max-height: 30rem;
    padding-top: 4rem;
    overflow-x: auto;
    overflow-y: hidden;
}

.row{
    height: 100%;
    align-items: stretch;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.events-upcoming .card {
    max-width: 300px;
    flex-grow: 0;
    flex-shrink: 0;
}

.events-upcoming .card > img{
    max-width: 90%;
    border-radius: 1rem;
}

.events-upcoming .card h5{
    padding: 4rem 0rem 2.8rem;
    font-family:sans-serif;
    font-size: 4rem;
    font-weight: 500;
    color: var(--white);
    text-shadow: var(--dark-grey);
}

/* ------------------ Button - learn more ------------------ */
.button-container{
    padding-top: 1rem;
}

button{
    width: fit-content;

    font-family: var(--poppins);
    font-weight: 400;
    font-size: var(--button_font_size);
    line-height: calc(var(--button_font_size) + 0.5);
    color:var(--white);
    background-color: black;  
    border-radius: 0.6rem;

    padding: 0.9rem 1.8rem;
}

/* ------------------ Our Team ------------------ */
.our-team{
    height: 22rem;
    padding-top: 4rem;
    overflow-x: auto;
    overflow-y: hidden;
}

.our-team .row .card{
    max-width: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 13rem;
    padding: .75rem;
    display: block;
    text-align: center;    
    font-family: sans-serif;
    color: var(--dark-grey);
    text-shadow: var(--white);
}

.our-team .row .card > img{
    border-radius: 1rem;
    height: 14rem;
    max-width: 12rem;
}

.our-team .card h5{
    padding: 0.3rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--dark-grey);
}

.our-team .card h6{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--grey);
}

/* ------------------ Footer ------------------ */
footer {
    width: calc(100% - (2 * var(--footer_padding)));
    padding: var(--footer_padding);
    margin-top: auto;
    background-color: #000;
    color: #fff;
    font-size:30px;
    font-weight:bold;
}

.social-media{
    padding-left: 1rem;
} 

.social-media > img{
    width: 1.5rem;
    border-radius: 2rem;
}

/* styles for browsers larger than 600px; */

@media only screen and (min-width: 600px) {
    
    nav{
        height: fit-content;
    }

    ul{
        visibility: visible;
        flex-basis: 8rem;
    }

    .overlay{
        height: 70vh;
    }

    .heading-text-container{
        height: calc(100% - (2 * var(--heading_padding)));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .heading-text-container h2{
        --heading_font_size: 6rem;
    }

    .heading-text-container p{
        --heading_font_size: 6rem;
        padding: 3rem 0;
    }   
/* ------------------card common------------------ */
    .card:hover{
        transform: scale(1.05);
    }
/* ------------------container common------------------ */
    .container{
        --container_padding: 15rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        font-size: 3rem;
    }
/* ------------------button------------------ */
    button:hover{
        transform: scale(1.05);
    }
    #more{
        padding: 0.4rem 0.6rem;
    }
}

/* ------------------ Fonts ------------------ */
@font-face {
	font-family: 'OldeEnglish';
	src:url('fonts/OldeEnglish.woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Monotype Corsiva';
	src:url('fonts/MonotypeCorsiva_Regular.ttf');
	font-weight: normal;
	font-style: normal;
}